<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	</head>

	<body>
		<header></header>
		<nav></nav>
		<div>
			{% block robisk_application_content %}
        	{% endblock robisk_application_content %}
		</div>
		<footer></footer>
	</body>
</html>