{% extends "RobiskApplicationBundle::Common/layout.html.twig" %}

{% block robisk_application_content %}

    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{{ 'frontend.professor'|trans }}</h1>
                </div>
            </div>
        </div>
    </div>

{% endblock robisk_application_content %}
